:root {
	--bg: #282828;
	--fg: #ebdbb2;
	--highlight: #fe8019;
	--font: "fira code", monospace;
	--font-size: 36px;
	--the-space: 30px;
}

html {
	margin: var(--the-space);
	background-color: var(--bg);
	color: var(--fg);
	font-size: var(--font-size);
	font-family: var(--font);
}

the-clock {
	position: absolute;
	left: var(--the-space);
	bottom: var(--the-space);
}

the-alarm {
	position: absolute;
	right: var(--the-space);
	bottom: var(--the-space);
}

the-alarm select {
	color: var(--fg);
	background-color: var(--bg);
	border: 3px dashed var(--fg);
	font-family: var(--font);
	font-size: var(--font-size);
}

link-container {
	display: flex;
	flex-wrap: wrap;
}

link-container a {
	color: var(--fg);
	margin-right: var(--the-space);
	margin-bottom: var(--the-space);
	text-decoration: none;
}

link-container a:hover {
	color: var(--highlight);
}

the-alarm select, link-container a {
	outline-color: var(--highlight);
}
