.App {
  background: rgba(0,0,0,0.1);
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.Alarms {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.Links {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
